*{
    background-color: #0a175b;
    box-sizing: border-box;
    color:white;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 640px;
    height: 640px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

}
h1{
    color:gold;
}

.grid-element{
    width: 40px;
    height: 40px;
    background-color: lightgray;
}

/*.grid-element:hover{*/
/*    background-color: black;*/
/*}*/